<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="server" value="DESKTOP-3PLVB9O" />
    <add key="database" value="master" />
    <add key="login" value="admin" />
    <add key="password" value="admin" />
    <add key="threads" value="50" />
    <add key="INITScript" value="DROP DATABASE IF EXISTS CHANGEME
GO
CREATE DATABASE CHANGEME
GO
USE CHANGEME
GO
CREATE SCHEMA Raports
GO
CREATE TABLE CHANGEME.Raports.Compleate (
  ID INT IDENTITY
 ,DataTime DATETIME2 NULL CONSTRAINT DF_Compleate_datatime DEFAULT (GETDATE())
 ,ServerDBUserPasswd VARCHAR(256) NOT NULL
 ,ScriptName VARCHAR(256) NOT NULL
 ,CONSTRAINT PK_Compleate_ID PRIMARY KEY CLUSTERED (ID)
) ON [PRIMARY]
GO
CREATE TABLE CHANGEME.Raports.Errors (
  ID INT IDENTITY
 ,DataTime DATETIME2 NULL CONSTRAINT DF_Errors_datatime DEFAULT (GETDATE())
 ,ServerDBUserPasswd VARCHAR(1024) NOT NULL
 ,ScriptName VARCHAR(256) NOT NULL
 ,ErrorCode INT NOT NULL
 ,ErrorMessage NVARCHAR(512) NOT NULL
 ,CONSTRAINT PK_Errors_ID PRIMARY KEY CLUSTERED (ID)
) ON [PRIMARY]
GO
CREATE TABLE CHANGEME.Raports.Info (
  ID INT IDENTITY
 ,DataTime DATETIME2 NOT NULL CONSTRAINT DF_Info_Data DEFAULT (GETDATE())
 ,ServerDB VARCHAR(1024) NOT NULL
 ,Script VARCHAR(256) NOT NULL
 ,MessageInfo NVARCHAR(512) NOT NULL
 ,CONSTRAINT PK_Info_ID PRIMARY KEY CLUSTERED (ID)
) ON [PRIMARY]
GO
CREATE SCHEMA Scripts
GO
CREATE TABLE CHANGEME.Scripts.ChangingOfScripts (
  ID INT IDENTITY
 ,ScriptID UNIQUEIDENTIFIER NOT NULL
 ,ScriptLastName VARCHAR(256) NOT NULL
 ,OperationDate DATETIME NOT NULL CONSTRAINT DF_ChangingOfScripts_OperationDate DEFAULT (GETDATE())
 ,Operation VARCHAR(6) NULL
 ,OperationLogin VARCHAR(256) NOT NULL CONSTRAINT DF_ChangingOfScripts_OperationLogin DEFAULT (SUSER_SNAME())
 ,CONSTRAINT PK_ChangingOfScripts_ID PRIMARY KEY CLUSTERED (ID)
 ,CONSTRAINT CK_ChangingOfScripts_Operation CHECK ([Operation] = 'DELETE' OR [Operation] = 'UPDATE' OR [Operation] = 'INSERT')
) ON [PRIMARY]
GO
CREATE TABLE CHANGEME.Scripts.ScriptsTable (
  ID UNIQUEIDENTIFIER NOT NULL DEFAULT (NEWID())
 ,ScriptName VARCHAR(256) NOT NULL
 ,ScriptContent TEXT NULL
 ,CONSTRAINT PK_ScriptsTable_ID PRIMARY KEY CLUSTERED (ID)
 ,CONSTRAINT UQ_ScriptsTable_ScriptName UNIQUE (ScriptName)
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
CREATE SCHEMA ServersAndMarkers
GO
CREATE TABLE CHANGEME.ServersAndMarkers.Markers (
  ID INT IDENTITY
 ,MarkerName NVARCHAR(32) NOT NULL
 ,CONSTRAINT PK_Markers_ID PRIMARY KEY CLUSTERED (ID)
) ON [PRIMARY]
GO
CREATE TABLE CHANGEME.ServersAndMarkers.ServerList (
  ID INT IDENTITY
 ,ServerDomainName NVARCHAR(256) NOT NULL
 ,DataBaseName NVARCHAR(256) NOT NULL
 ,ServerLogin NVARCHAR(256) NOT NULL
 ,ServerPassword NVARCHAR(256) NOT NULL
 ,CONSTRAINT PK_ServerList_ID PRIMARY KEY CLUSTERED (ID)
) ON [PRIMARY]
GO
CREATE UNIQUE INDEX UQ_ServerDB
ON CHANGEME.ServersAndMarkers.ServerList (ServerDomainName, DataBaseName)
ON [PRIMARY]
GO
CREATE TABLE CHANGEME.ServersAndMarkers.Relations (
  ID INT IDENTITY
 ,ServerListID INT NOT NULL
 ,MarkerID INT NOT NULL
 ,CONSTRAINT PK_Relations_ID PRIMARY KEY CLUSTERED (ID)
) ON [PRIMARY]
GO
CREATE UNIQUE INDEX UI
ON CHANGEME.ServersAndMarkers.Relations (ServerListID, MarkerID)
ON [PRIMARY]
GO
ALTER TABLE CHANGEME.ServersAndMarkers.Relations
ADD CONSTRAINT FK_Relations_MarkerID FOREIGN KEY (MarkerID) REFERENCES ServersAndMarkers.Markers (ID) ON DELETE CASCADE ON UPDATE CASCADE
GO
ALTER TABLE CHANGEME.ServersAndMarkers.Relations
ADD CONSTRAINT FK_Relations_ServerListID FOREIGN KEY (ServerListID) REFERENCES ServersAndMarkers.ServerList (ID) ON DELETE CASCADE ON UPDATE CASCADE
GO"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.3.0" newVersion="3.1.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.3.0" newVersion="3.1.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.3.0" newVersion="3.1.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Caching.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.3.0" newVersion="3.1.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.3.0" newVersion="3.1.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.3.0" newVersion="3.1.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.3.0" newVersion="3.1.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Identity.Client" publicKeyToken="0a613f4dd989e8ae" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.13.0.0" newVersion="4.13.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Protocols.OpenIdConnect" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.5.1.0" newVersion="6.5.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Protocols" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.5.1.0" newVersion="6.5.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.5.1.0" newVersion="6.5.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.5.1.0" newVersion="6.5.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.JsonWebTokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.5.1.0" newVersion="6.5.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Logging" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.5.1.0" newVersion="6.5.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>